name: Udp App ci/cd

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  python_version: "3.11"

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.python_version }}

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run unit test
        run: pytest || true   # prevent workflow from failing when no tests yet:

  Build:
      runs-on: ubuntu-latest
      steps:
        - name: checkout the code
          uses: actions/checkout@v4
        - name: Build & push Docker image
          run: docker build -t rivelino86/portfolio-cicd:${{ github.run_number }} .
  Scan: 
      runs-on: ubuntu-latest
      needs: Build
      steps:
         - name: Scan Docker image with Trivy
           uses: aquasecurity/trivy-action@master
           with:
              image-ref: 'myimage:latest'
              format: 'table'
              exit-code: '1'    # fails pipeline if vulnerabilities found
              severity: 'HIGH,CRITICAL'